@font-face {
    font-family: 'sofia';
    src: url('./assets/font/Sofia\ Pro\ Regular\ Az.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'sofia', sans-serif;
}